$primary: #16aa56;
$primary-2: #29c26b;
$white: #ffffff;
$secondary-orange: #ffb73a;
$secondary-blue: #30c0f4;
$secondary-red: #ff312d;
$secondary: #ffb73a;
$neturals-1: #222222;
$neturals-2: #777777;
$neturals-3: #9e9e9e;
$neturals-4: #c4c4c4;
$neturals-5: #e1e1e1;
$neturals-6: #f4f4f4;
$neturals-7: #fafafa;
$icon-black: #3f3b3b;
$footer-black: #181a1b;
$text-grey: #848795;
$wishlist-green: rgba(22, 170, 86, 0.1);
$clicked-heart: #f9595f;
$bsc: #f0b90b;
$hunt: #fc6f6f;
$pancake: #d1884f;
$eth: #627eea;
$text-light-grey: #828589;
$bg: #141415;
$warning: #e02020;
$discord-zindex: 8;
$header-zindex: 9;
$component-zindex: 10;
$modal-zindex: 10;
$col-1: 364px;
$col-2: 760px;
$col-3: 1156px;
$col-4: 1552px;
