.carousel {
  width: 500px;
  height: 300px;
  .container {
  }
}

.multiple-view-carousel {
  width: 700px;
  height: 300px;
  .container {
    width: 500px;
  }
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
}

.btn-left {
  left: 0;
}
.btn-right {
  right: 0;
}
