.navigation {
  .icon {
    // background-color: aquamarine;
    line-height: 65px;
    color: #222327;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 8px;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-color: aqua;
    //   border-radius: 50%;
    //   filter: blur(5px);
    //   opacity: 0;
    // }
  }

  .active {
    border-radius: 50%;
    background-color: aquamarine;
    color: $white;
    transform: translateY(-26px);
    z-index: 2;
    &::before {
      opacity: 0.5;
    }
  }

  .indicator {
    position: absolute;
    top: -34px;
    left: 28px;

    // button:nth-child(2) {
    //   .active & transform: translateX(calc(72px * 1));
    // }
    //110.5 193.5 276.5 359.5
    z-index: 1;
    transition: 500ms;
    &::before {
      content: '';
      position: absolute;
      top: 6px;
      left: -30px;
      width: 32px;
      height: 32px;
      background-color: transparent;
      border-radius: 50%;
      box-shadow: 15px 18px #fff;
    }
    &::after {
      content: '';
      position: absolute;
      top: 6px;
      right: -30px;
      width: 32px;
      height: 32px;
      background-color: transparent;
      border-radius: 50%;
      box-shadow: -15px 18px #fff;
    }
  }
  li:nth-child(1).active ~ indicator {
    transform: translateX(calc(72px * 0));
  }
  li:nth-child(2).active ~ indicator {
    transform: translateX(calc(72px * 1));
  }
  li:nth-child(3).active ~ indicator {
    transform: translateX(calc(72px * 2));
  }
  li:nth-child(4).active ~ indicator {
    transform: translateX(calc(72px * 3));
  }
  li:nth-child(5).active ~ indicator {
    transform: translateX(calc(72px * 4));
  }
}
