.loading {
  min-height: 100vh;
}
.typing-demo {
  width: 35ch;
  animation: loading-typing 4s steps(37) infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: Oswald;
  letter-spacing: 0.1em;
}

@keyframes loading-typing {
  from {
    width: 0;
  }
}
